body{
	background-color: #333;
	color: #fff;
}
.col-lg-8{
	background: url("https://images.pexels.com/photos/4386339/pexels-photo-4386339.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}	

h1{
	color: black;
}
.navbar{
	border-bottom: #008ed5 3px solid;
	opacity: 0.8;
}
#main-section{
	min-height: 700px;
}
.dark-overlay{
	background-color: rgba(255,100,13,0.3);
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	min-height: 700px;
}
.home-inner{
	padding-top: 170px;
}
.card-form{
	opacity: 0.8;
}
